$heroOverlay: rgba(25, 28, 38, 0.2);

$titleColorTransp: rgba(157, 164, 189, 0.6);
$titleColorDark: #303030;
$titleLight: #ffffff;

$mainTextColor: #555555;
$secondTextColor: #9da4bd;
$lightTextColor: #ffffff;

$accentColor: #ff6c00;

$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

$myCursor: url(../images/finger.svg), pointer;
$myCursorRotate: url(../images/finger-rotate.svg), pointer;
