.services {
  background-image: url(../images/services/services480.png),
    linear-gradient(to right, #111319, #111319);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 480px;
}

.services__subtitle {
  margin-bottom: 20px;
}

.services__title {
  margin-bottom: 44px;
}

.services__table {
  width: 418px;
}

.services-tables {
  margin-bottom: 50px;
  padding: 30px;
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.services-tables__left,
.services-tables__right {
  font-size: 14px;
  line-height: 2.143;
  letter-spacing: 0.02em;
  color: $secondTextColor;
}

.services-tables__left {
  margin-bottom: 20px;
}

.services-tables__row {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.services-tables__line {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  padding-bottom: 8px;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.12);
    margin: 0 6px;
  }
}

.services__button {
  margin: 0 auto;
}
